<div class="skills">

  <div class="row hidden-sm hidden-xs">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          Name
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
          Step 1
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
          Step 2
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
          Step 3
      </div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
          &nbsp;
      </div>
  </div>

  {{#each model as |skill|}}
      <div class="row" {{action 'updateSkill' skill}}>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              {{skill.name}}
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
              {{paper-checkbox checked=skill.step1}}
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
              {{paper-checkbox checked=skill.step2}}
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
              {{paper-checkbox checked=skill.step3}}
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
            {{#paper-button class="center-block" action='removeSkill' param=skill size="md"}}{{paper-icon "delete"}}{{/paper-button}}
          </div>
      </div>
  {{/each}}
  <form {{action 'addSkill' skillName on="submit" }}>
    {{paper-input label='New skill..' value=skillName}}
    {{#paper-button}}Dodaj{{/paper-button}}
  </form>




</div>

