<div class="skills">

  <div class="row">
      <div class="col-lg-5">
          Name
      </div>
      <div class="col-lg-2">
          Step 1
      </div>
      <div class="col-lg-2">
          Step 2
      </div>
      <div class="col-lg-2">
          Step 3
      </div>
      <div class="col-lg-1">
          Remove
      </div>
  </div>

  {{#each model as |skill|}}
      <div class="row" {{action 'updateSkill' skill}}>
          <div class="col-lg-5">
              {{skill.name}}
          </div>
          <div class="col-lg-2">
              {{paper-checkbox checked=skill.step1}}
          </div>
          <div class="col-lg-2">
              {{paper-checkbox checked=skill.step2}}
          </div>
          <div class="col-lg-2">
              {{paper-checkbox checked=skill.step3}}
          </div>
          <div class="col-lg-1">
              <span class="glyphicon glyphicon-remove" {{action 'removeSkill' skill}}></span>
          </div>
      </div>
  {{/each}}
  <form>
    {{input class='form-control input-block' placeholder='New skill..' value=skillName}}
    {{#paper-button action 'addSkill' param=skillName}}>Dodaj{{/paper-button}}
  </form>

</div>

